@charset "UTF-8";
:root {
  /* Background colors */
  --main-background-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --accent-background-color: #2f303a;
  --container-background-color: #eeeeee;
  /* Text colors */
  --main-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-color: #2196f3;
  --logo-color: #000000;
  --address-color: rgba(255, 255, 255, 0.6);
  --icons-color: #AFB1B8;
  /* Fonts */
  --logo-font-family: Raleway, sans-serif;
  --main-font-family: Roboto, sans-serif;
  /* Others */
  --header-line-color: #ececec;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  background-color: var(--main-background-color);
  color: var(--main-text-color);
  font-family: var(--main-font-family);
  font-size: 14px;
  letter-spacing: 0.03em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

.logo {
  display: block;
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
  color: var(--logo-color);
  font-family: var(--logo-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923076923;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo-accent {
  color: var(--accent-color);
}
.logo-white {
  color: var(--main-background-color);
}
.logo-footer {
  display: inline-block;
  margin: 0 0 20px 0;
  padding: 0;
}

.header {
  border-bottom: 1px solid var(--header-line-color);
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}
.nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--secondary-text-color);
  font-family: var(--main-font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  -webkit-transition: color var(--transition);
  transition: color var(--transition);
}
.nav__link:hover, .nav__link:focus {
  color: var(--accent-color);
}
.nav__link.current {
  position: relative;
  color: var(--accent-color);
}
.nav__link.current::after {
  position: absolute;
  left: 0;
  bottom: -1px;
  content: "";
  display: inline-block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  margin-left: auto;
}
.contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--main-text-color);
  font-family: var(--main-font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  text-decoration: none;
  -webkit-transition: color var(--transition);
  transition: color var(--transition);
}
.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-color);
}
.contacts__icon {
  fill: currentColor;
}

.hero {
  padding: 200px 0;
  background-color: var(--accent-background-color);
  text-align: center;
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/img-hero.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hero-title {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  color: var(--main-background-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3636363636;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.btn {
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 10px;
  padding-bottom: 10px;
  min-width: 216px;
  border-radius: 4px;
  background-color: var(--accent-color);
  color: #ffffff;
  font-family: var(--main-font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.06em;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color var(--transition);
  transition: background-color var(--transition);
}
.btn:hover, .btn:focus {
  background-color: #188ce8;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity var(--transition), visibility var(--transition);
  transition: opacity var(--transition), visibility var(--transition);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  min-height: 581px;
  width: 528px;
  background-color: var(--main-background-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transition: -webkit-transform var(--transition);
  transition: -webkit-transform var(--transition);
  transition: transform var(--transition);
  transition: transform var(--transition), -webkit-transform var(--transition);
}

.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  height: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #ffffff;
  color: #000000;
  -webkit-transition: color var(--transition), border-color var(--transition);
  transition: color var(--transition), border-color var(--transition);
}
.modal-btn-icon {
  fill: currentColor;
}
.modal-btn:hover, .modal-btn:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.5);
          transform: translate(-50%, -50%) scale(0.5);
}

/* Форма замовлення */
.order-form {
  padding: 40px;
}
.order-form-title {
  display: block;
  text-align: center;
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.order-form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
  text-align: left;
  gap: 10px;
}

.order-form-field {
  position: relative;
}

.order-form-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
}

.order-form-input {
  width: 100%;
  height: 40px;
  padding: 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  cursor: pointer;
  -webkit-transition: border-color var(--transition);
  transition: border-color var(--transition);
}
.order-form-input:focus, .order-form-input:hover {
  border-color: var(--accent-color);
}

.order-form-icon {
  position: absolute;
  left: 12px;
  bottom: 11px;
  fill: #000000;
  -webkit-transition: fill var(--transition);
  transition: fill var(--transition);
}
.order-form-input:focus + .order-form-icon, .order-form-input:hover + .order-form-icon {
  fill: var(--accent-color);
}

.order-form-comments {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  font-size: 12px;
  cursor: pointer;
  -webkit-transition: border-color var(--transition);
  transition: border-color var(--transition);
}
.order-form-comments:focus, .order-form-comments:hover {
  border-color: var(--accent-color);
}

textarea::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

textarea::-moz-placeholder {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

textarea:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

textarea::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

textarea::placeholder {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.order-form-agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
  margin-bottom: 30px;
}

.icon-checked {
  opacity: 0;
  -webkit-transition: opacity var(--transition);
  transition: opacity var(--transition);
}
.order-form-checkbox:checked + .order-form-icons .icon-checked {
  opacity: 1;
}

.icon-unchecked {
  opacity: 1;
  fill: #000000;
  -webkit-transition: opacity var(--transition), fill var(--transition);
  transition: opacity var(--transition), fill var(--transition);
}
.order-form-checkbox:checked + .order-form-icons .icon-unchecked {
  opacity: 0;
}
.order-form-checkbox:focus + .order-form-icons .icon-unchecked, .order-form-checkbox:hover + .order-form-icons .icon-unchecked {
  fill: var(--accent-color);
}

.order-form-desc {
  line-height: 1.7142857143;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.order-form-link {
  color: var(--accent-color);
}

.features-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.feature-item {
  width: 270px;
}

.feature-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 270px;
  height: 120px;
  background-color: var(--secondary-background-color);
  border-radius: 4px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.features-name {
  margin-bottom: 10px;
  color: var(--secondary-text-color);
  line-height: 1.1428571429;
  text-transform: uppercase;
  font-size: 14px;
}

.features-text {
  line-height: 1.7142857143;
}

.features-icon {
  display: block;
  width: 270px;
  height: 120px;
  background-color: var(--secondary-background-color);
}

.work-section {
  padding-bottom: 94px;
}

.work-section__container, .team__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.work-section__title,
.team__title,
.clients-title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
  color: var(--secondary-text-color);
}

.work-section__name {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--main-background-color);
  font-weight: 700;
  line-height: 1.1428571429;
  text-transform: uppercase;
}

.work-section__thumb {
  position: relative;
}

.team {
  background-color: var(--secondary-background-color);
}

.team__list {
  background-color: var(--main-background-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__member {
  margin-bottom: 10px;
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
}

.team__text {
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
}

.team__data {
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
}

.socials-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px 32px 30px 32px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.socials-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--main-background-color);
  color: var(--icons-color);
  -webkit-transition: color var(--transition), background-color var(--transition);
  transition: color var(--transition), background-color var(--transition);
}

.socials-list__link:hover,
.socials-list__link:focus {
  color: var(--main-background-color);
  background-color: var(--accent-color);
}

.socials-list__icon {
  fill: currentColor;
}

.work-section__container,
.team__container,
.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.clients-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 170px;
  height: 90px;
  border: 1px solid var(--icons-color);
  border-radius: 4px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--icons-color);
  -webkit-transition: color var(--transition), border-color var(--transition);
  transition: color var(--transition), border-color var(--transition);
}

.clients-list__link:hover,
.clients-list__link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.clients-list__icon {
  fill: currentColor;
}

.footer {
  background-color: var(--accent-background-color);
  padding: 60px 0;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer-contacts {
  margin-right: 70px;
}

.address {
  font-style: inherit;
}

.address-item:not(:last-child) {
  margin-bottom: 9px;
}

.address-link,
.city-link {
  font-family: var(--main-font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.city-link {
  color: var(--main-background-color);
}

.address-link {
  color: var(--address-color);
  -webkit-transition: color var(--transition);
  transition: color var(--transition);
}

.address-link:hover,
.address-link:focus {
  color: var(--main-background-color);
}

.join {
  margin-bottom: 20px;
  color: var(--main-background-color);
  line-height: 1.1428571429;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
}

.footer-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.footer-socials .socials-list__link {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--main-background-color);
  -webkit-transition: background-color var(--transition);
  transition: background-color var(--transition);
}

.footer-socials .socials-list__link:hover,
.footer-socials .socials-list__link:focus {
  background-color: var(--accent-color);
}

.footer-sign {
  margin-left: auto;
}

.footer-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 17px;
}

.footer-form-input {
  width: 358px;
  height: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  outline: transparent;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: var(--address-color);
  background-color: var(--accent-background-color);
  -webkit-transition: border-color var(--transition);
  transition: border-color var(--transition);
}

.footer-form-input:hover,
.footer-form-input:focus {
  border-color: var(--accent-color);
}

.footer-form-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  padding-left: 23px;
  padding-right: 33px;
  padding-top: 10px;
  padding-bottom: 10px;
  min-width: 200px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-btn-icon {
  fill: currentColor;
}

.btn-filter {
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 4px;
  background-color: var(--secondary-background-color);
  color: var(--secondary-text-color);
  font-family: var(--main-font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  -webkit-transition: background-color var(--transition), color var(--transition), -webkit-box-shadow var(--transition);
  transition: background-color var(--transition), color var(--transition), -webkit-box-shadow var(--transition);
  transition: background-color var(--transition), color var(--transition), box-shadow var(--transition);
  transition: background-color var(--transition), color var(--transition), box-shadow var(--transition), -webkit-box-shadow var(--transition);
}

.btn-filter.current {
  background-color: var(--accent-color);
  color: var(--main-background-color);
}

.btn-filter:active,
.btn-filter:hover,
.btn-filter:focus {
  background-color: var(--accent-color);
  color: var(--main-background-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-list {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
}

.projects-title {
  margin-bottom: 4px;
  color: var(--secondary-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.projects-text {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
}

.projects-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.projects-item {
  -ms-flex-preferred-size: calc((100% - 60px) / 3);
      flex-basis: calc((100% - 60px) / 3);
}

.projects-data {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  border: 1px solid var(--container-background-color);
}

.projects-link {
  display: block;
  text-decoration: none;
  color: var(--main-text-color);
  -webkit-transition: -webkit-box-shadow var(--transition);
  transition: -webkit-box-shadow var(--transition);
  transition: box-shadow var(--transition);
  transition: box-shadow var(--transition), -webkit-box-shadow var(--transition);
}

.projects-link:hover,
.projects-link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-thumb {
  position: relative;
  overflow: hidden;
}

.projects-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 24px;
  padding-right: 24px;
  color: var(--main-background-color);
  background-color: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.5555555556;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform var(--transition);
  transition: -webkit-transform var(--transition);
  transition: transform var(--transition);
  transition: transform var(--transition), -webkit-transform var(--transition);
}

.projects-link:hover .projects-overlay,
.projects-link:focus .projects-overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}/*# sourceMappingURL=main.css.map */