.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity var(--transition), visibility var(--transition);

  padding: 93px 15px 94px 15px;
  overflow-y: scroll;
}

.modal {
  min-height: 609px;
  width: 100%;

  background-color: var(--main-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: transform var(--transition);

  @media screen and (min-width: 768px) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 450px;
  }

  @media screen and (min-width: 1200px) {
    min-height: 581px;
    width: 528px;
  }
}

.modal-btn {
  position: absolute;
  top: 101px;

  right: 23px;

  display: flex;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  padding: 0;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #ffffff;
  color: #000000;

  transition: color var(--transition), border-color var(--transition);

  @media screen and (min-width: 768px) {
    top: 8px;
    right: 8px;
  }

  &-icon {
    fill: currentColor;
  }

  &:hover,
  &:focus {
    color: var(--accent-color);
    border-color: var(--accent-color);
  }
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}

/* Форма замовлення */

.order-form {
  padding: 40px;

  &__title {
    display: block;
    text-align: center;
    margin-bottom: 12px;

    font-size: 20px;
    line-height: calc(30 / 20);
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);

    @media screen and (min-width: 1200px) {
      line-height: calc(23 / 20);
    }
  }
  &__group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    text-align: left;
    gap: 10px;
  }
}

.form-field {
  position: relative;

  &__label {
    display: block;
    margin-bottom: 4px;

    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;
  }

  &__input {
    width: 100%;
    height: 40px;
    padding: 12px 42px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: transparent;
    cursor: pointer;

    transition: border-color var(--transition);

    &:focus,
    &:hover {
      border-color: var(--accent-color);
    }
  }

  &__icon {
    position: absolute;
    left: 12px;
    bottom: 11px;
    fill: #000000;

    transition: fill var(--transition);

    .form-field__input:focus + &,
    .form-field__input:hover + & {
      fill: var(--accent-color);
    }
  }

  &__comments {
    resize: none;
    width: 100%;
    height: 120px;
    padding: 12px 16px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: transparent;

    font-size: 12px;
    cursor: pointer;

    transition: border-color var(--transition);

    &:focus,
    &:hover {
      border-color: var(--accent-color);
    }
  }
}

textarea::placeholder {
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.order-form__agreement {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  margin-bottom: 30px;
}

.icon-checked {
  opacity: 0;

  transition: opacity var(--transition);

  .order-form__checkbox:checked + .order-form-icons & {
    opacity: 1;
  }
}

.icon-unchecked {
  opacity: 1;
  fill: #000000;

  transition: opacity var(--transition), fill var(--transition);

  .order-form__checkbox:checked + .order-form-icons & {
    opacity: 0;
  }

  .order-form__checkbox:focus + .order-form-icons &,
  .order-form__checkbox:hover + .order-form-icons & {
    fill: var(--accent-color);
  }
}

.order-form__desc {
  font-size: 12px;
  line-height: calc(14 / 12);
  user-select: none;

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: calc(24 / 14);
  }
}

.order-form__link {
  color: var(--accent-color);
}
