.socials-list {
  @extend %socials;
  padding: 16px 32px 30px 32px;

  &__link {
    @include socials(var(--main-background-color), var(--icons-color));
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;

    transition: color var(--transition), background-color var(--transition);

    &:hover,
    &:focus {
      color: var(--main-background-color);
      background-color: var(--accent-color);
    }
  }

  &__icon {
    fill: currentColor;
  }
}

.footer-socials {
  @extend %socials;
  padding: 0;

  .socials-list__link {
    @include socials(rgba(255, 255, 255, 0.1), var(--main-background-color));

    transition: background-color var(--transition);

    &:hover,
    &:focus {
      background-color: var(--accent-color);
    }
  }
}
