.team {
  background-color: var(--secondary-background-color);

  &__title {
    @extend %title;
  }

  &__container {
    @extend .features-container;
  }
}

.team__list {
  background-color: var(--main-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__data {
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
}

.team__member {
  margin-bottom: 10px;

  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
}

.team__text {
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
}
