.work-section {
  padding-bottom: 94px;
  display: none;

  @media screen and (min-width: 1200px) {
    display: block;
  }

  &__container {
    display: flex;
    gap: 30px;
  }

  &__title {
    @extend %title;
  }

  &__thumb {
    position: relative;
  }

  &__name {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgba(47, 48, 58, 0.8);
    color: var(--main-background-color);
    font-weight: 700;
    line-height: calc(16 / 14);
    text-transform: uppercase;
  }
}
